  .head {
    	background-color: #222222;
    	width: 100%;
    	height: 15px;
    }
    .fontext {
	text-align:  center;
	font-size:310%;
	font-family: "Arial Black";
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 70px;
    }
    .menu {
	box-sizing: border-box;        
	height: 40px;
	float: left;
    	padding: 10px;

    }
    .left {
  	width: 25%;
 	padding-left: 80px;
	padding-top: 0px;
	font-family: "Arial";
    }

    .right {
  	width: 75%;
	float: right;
	padding-left: 40px;
	padding-right: 80px;
	font-family: "Arial";
    }
    .img {
	background-image: url(1.jpg);
	background-size: 100% 100%;
	height: 456px;
	color: #fff;
    }
    .text {
	text-align: center;
	padding-left: 80px;
	padding-right: 80px;
	font-family: "Arial";
    }
    .READMORE {
	background-color: #1ac6ff;
    } 
    .READMORE:hover {
	background-color: #46a049;
    }
    .btn {
	border: none;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	font-family: "Arial";
    }
    .h1 {
	color: #00cccc;
	font-size: 250%;
    }
    ul {
	list-style: none; 
	margin-top: 0; 
	padding-left: 10; 
    }
    a {
	text-decoration: none; 
	color: #555555;
	font-size: 70%;
    }
    li {
	float:right; 
	margin-right:50px; 
    }
    .h2 {
	color: #00cccc;
	font-size: 70%;
    }
    .footer {
	box-sizing: border-box;        
	height: 40px;
	float: left;   	
    }
    .fleft {
      	padding-left: 80px;
    	width: 33.33%;    	
	font-family: "candara";
	text-align: center;
    }
    .fright {      	
    	width: 33.33%;
	font-family: "candara";
	text-align: center;
	padding-right: 80px;	
    }
    .fcenter{
    	width: 33.33%;    	    	
	font-family: "candara";
	text-align: center;
    }
    .child:after {
    	content: "";
    	display: table;
    	clear: both;	
    }   